<mat-toolbar color="primary">
  <ng-container *ngIf="isLoggedIn()">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item disabled>{{ email() }}</button>
      <button mat-menu-item *ngIf="isAdmin()" (click)="goToInvitationForm()">Invite in organization</button>
      <button mat-menu-item (click)="logout()">Log out</button>
    </mat-menu>
  </ng-container>


  <h3 (click)="goHome()" class="logo">
    {{ logo }}
  </h3>
</mat-toolbar>

<router-outlet></router-outlet>
