.card {
  max-width: 700px;
  margin-bottom: 8px;
}

.button {
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 30px;

  button {
    padding-left: 10px;
  }
}

.deleted-mark {
  color: red;
}
